:root {
	font-family: Verdana, Arial, sans-serif, Georgia, Garamond, serif;
	font-size: 16px;
	--dark-gray: #9f9f9f;
	--light-gray: #d1d1d1;
	--search-bar-height: 30px;
	--search-bar-max-width: 50vw;
	--transition-duration: 1.5s;
	--icon-hover-color: #0262ff;
	--toggle-forecast-btn-height: 40px;
}

body {
	margin: 0;
	background-color: black;
}

.search-bar-container {
	margin: 10px auto;
	border-radius: 20px;
	background-color: black;
	border: 1px solid var(--dark-gray);
	height: var(--search-bar-height);
	width: var(--search-bar-max-width);
}

#search-bar {
	display: flex;
}

.city-state-zip {
	flex: 1;
	border-right: 0.5px solid var(--dark-gray);
}

.dynamic-period {
	flex: 1;
}

.search-icon {
	width: 42px;
	cursor: pointer;
	height: var(--search-bar-height);
}

#location {
	border-radius: 20px 0 0 20px;
}

input {
	border: none;
	height: 100%;
	width: 100%;
	padding: 0;
	padding-left: 10px;
	box-sizing: border-box;
	background-color: inherit;
	color: var(--light-gray);
}

input:focus {
	outline-width: 2px;
	outline-style: solid;
}

input::placeholder {
	color: var(--dark-gray);
}

button[type='submit'] {
	background-color: black;
	border-radius: 0 20px 20px 0;
	height: var(--search-bar-height);
	border: none;
}

#search-bar path {
	fill: var(--dark-gray);
}

#search-bar svg:hover path {
	fill: var(--icon-hover-color);
}

.search-bar-container.slide-in {
	width: 15vw;
	transition: width 1.5s;
}

.search-bar-container.slide-in:hover {
	width: var(--search-bar-max-width);
}

.search-bar-container.slide-in .city-state-zip {
	border: none;
	transition: border 0s 1500ms;
}

.search-bar-container.slide-in:hover .city-state-zip {
	border-right: 0.5px solid var(--dark-gray);
}

#error-msg {
	color: red;
	margin: -10px 0 0;
	text-align: center;
}

.error #location:focus {
	outline-color: red;
	border: none;
	height: 100%;
	margin: 0;
}

.error #location {
	border-color: #b60000;
	border-style: solid;
	margin: -1px 0 0 -1px;
	height: calc(var(--search-bar-height) + 2px);
}

#content {
	color: white;
	width: 60vw;
	margin: 0 auto;
	position: relative;
	display: flex;
	transition: width var(--transition-duration);
}

#content.slide-in {
	width: 92vw;
}

.quick-overview {
	width: 100%;
	display: grid;
	grid-template-areas:
		'current-weather icon'
		'forecast forecast';
	grid-template-rows: 1.6fr 1fr;
	grid-template-columns: 2fr 1fr;
	color: var(--dark-gray);
	transition: width var(--transition-duration);
	background-color: black;
	z-index: 1;
}

#content.slide-in .quick-overview {
	width: 50%;
}

.current-weather {
	grid-area: current-weather;
	line-height: 1.6;
}

.location {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 25px 0 0;
}

.temperature {
	font-size: 3rem;
	color: var(--light-gray);
}

.low-high-temp,
.feels-like {
	margin: 0 0 10px 0;
}

.current-description {
	margin: 0;
}

.quick-overview > img[src$='.svg'] {
	align-self: center;
	padding: 0px;
	margin-right: 10px;
	max-width: 250px;
	justify-self: center;
	filter: drop-shadow(0px 0px 90px var(--light-gray));
}

.quick-overview > img[alt='fog'] {
	box-shadow: 0px 0px 20px 20px #f0f0f0;
	background: #f0f0f0;
	border-radius: 50%;
	filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(93%)
		contrast(81%);
}

#content > .toggle-weather-report {
	height: var(--toggle-forecast-btn-height);
	width: 25px;
	border: none;
	background: transparent;
	padding: 0;
	border-radius: 0 10px 10px 0;
	position: absolute;
	right: -25px;
	top: calc(50% + calc(var(--toggle-forecast-btn-height) * -1));
	cursor: pointer;
}

#content > .toggle-weather-report > svg {
	fill: white;
	background-color: transparent;
	transform: rotate(90deg);
}

#content.slide-in > .toggle-weather-report > svg {
	transform: rotate(-90deg);
}

#content .toggle-weather-report:hover svg path {
	fill: var(--icon-hover-color);
}

.forecast-container {
	grid-area: forecast;
	overflow-x: auto;
	scrollbar-color: white black;
	height: fit-content;
}

.forecast-caption {
	color: var(--light-gray);
	font-size: 1.7rem;
	text-align: left;
	margin: 20px 0;
}

.days th {
	font-size: 1.2rem;
	font-weight: normal;
}

.heat-bar-container td {
	position: relative;
	width: 200px;
}

#forecast-table td {
	padding: 0 10px;
}

#forecast-table td:first-child {
	padding-left: 0;
}

#forecast-table td:last-child {
	padding-right: 0;
}

#forecast-table .icon td {
	text-align: center;
	padding: 15px 0;
}

.icon td img {
	height: 40px;
	filter: drop-shadow(0px 0px 10px var(--light-gray));
}

.flex-align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.low-temp {
	width: auto;
}

.heat-bar {
	width: 70px;
	margin: 0 10px;
	height: 8px;
	border-radius: 10px;
	position: relative;
}

.current-temp-position {
	content: '';
	background-color: #56acfd;
	border-radius: 50%;
	border: 3px solid white;
	height: 12px;
	width: 12px;
	position: absolute;
	top: calc(50% - 9px);
}

.high-temp {
	width: auto;
}

.weather-report-container {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	overflow: hidden;
	max-width: 100%;
	scrollbar-color: white black;
	transition:
		width var(--transition-duration),
		left var(--transition-duration);
}

#content.slide-in .weather-report-container {
	width: 50%;
	left: 50%;
	max-height: 85vh;
	overflow: auto;
}

#weather-report-table {
	border-spacing: 0;
}

.breakdown-caption {
	text-align: -webkit-left;
	font-size: 1.5rem;
	margin: 25px 0 10px;
	color: var(--light-gray);
}

.data-elements {
	position: relative;
}

.data-elements th {
	position: sticky;
	top: 0;
	color: #39b3ff;
	padding: 8px 5px;
	min-width: 80px;
	background: black;
}

.weather-data td {
	padding: 8px;
	text-align: center;
	color: var(--light-gray);
}

.weather-data tr:hover td {
	background-color: #022237;
}
